<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>ASP.NET Web API를 시작합니다.</h1>
                <h2>ASP.NET Web API 개발을 바로 시작하려면 이 템플릿의 코드를 수정하십시오.</h2>
            </hgroup>
            <p>
                ASP.NET Web API를 사용하여 HTTP를 통해 응용 프로그램, 데이터 및 서비스를
웹에 직접 표시할 수 있습니다.
            </p>
            <p>
                To learn more about ASP.NET Web API visit
                <a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="ASP.NET Web API Website">http://asp.net/web-api</a>.
                The page features <mark>ASP.NET Web API를 최대한</mark> ASP.NET Web API를 최대한 활용할 수 있는 방법이 나와 있습니다.
                ASP.NET Web API와 관련하여 궁금한 사항이 있으면
                <a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="ASP.NET Web API 포럼">ASP.NET Web API 포럼</a>을 참조하십시오.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>권장 단계:</h3>
        <ol class="round">
            <li class="one">
                <h5>시작</h5>
                ASP.NET Web API는 브라우저 및 모바일 장치를 비롯한 다양한 범위의 클라이언트에
                연결하는 HTTP 서비스를 쉽게 빌드할 수 있게 해주는 프레임워크입니다. ASP.NET Web API는
                .NET Framework에서 REST 유형의 응용 프로그램을 빌드하기에 적합한 플랫폼입니다.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245160">자세한 정보…</a>
            </li>

            <li class="two">
                <h5>NuGet 패키지를 추가하고 코드 바로 시작</h5>
                NuGet을 사용하면 무료 라이브러리 및 도구를 쉽게 설치하고 업데이트할 수 있습니다.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245161">자세한 정보…</a>
            </li>
            <li class="three">
                <h5>웹 호스팅 찾기</h5>
                사용자 응용 프로그램에 적합한 기능을 제공하면서 가격이 합리적인 웹 호스팅 회사를
            쉽게 찾을 수 있습니다.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245164">자세한 정보…</a>
            </li>
        </ol>
    </section>
</div>
